.navbar
{
  background-color:#010133 ;
}
.navbar-brand-img{
  width: 100px;
  height: 56px;
  

}
.navbar-brand{
  margin-left: 70px;
}
.navmenu{
  margin-right: 80px;
}
.nav-link{
  font-size: 18px;
  
}
.btn-group .btn 
{
  color: black;
}

.navmenu .nav-item .nav-link i{
 
  color: whitesmoke;
  
}

